 /* USED FOR CHECKING  */
/* *{
    background-color: cornflowerblue;
} */

/* NAVBAR */
#navbar{
    flex-direction: column;
}
#navbar ul li a {
    font-size: 15px;
    padding: 4px;
    margin: 6px;
}
#navbar ul{
    flex-direction:row;
    flex-wrap: wrap;
}

/* HOME SECTION */

#home{

}


/* SERVICES */

#services{
 flex-direction: column;
}


/* CLIENTS */

#clients{
    flex-wrap: wrap;

}
.client-item{
    padding: 16px;
}
#clients img {
    height: 50px;
}
#contact-box input{
width: 100%;
padding: 0.3rem;
border-radius: 10px;
font-size: 1rem;
}



/* CONTACT */

#contact{

}
textarea{
    height: 20%;
}




/* FOOTER */
footer{

}

/* UTILITY CLASS */
.h-primary{
    font-size: 1.5rem;
}
